@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --background-color: #F4F2EE;
    --primary-color: #fff;
    --line-color: #DFDEDA;
    --button-color: #EDF3F8;
    --text-color: #000;
    --grey-color: #6C757D;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    padding-top: 70px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

/* navbar */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
    background-color: var(--primary-color);
    border-bottom: var(--line-color) 2px solid;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

header.hidden {
    transform: translateY(-100%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: var(--text-color);
    text-decoration: none;
    background: linear-gradient(90deg, #000 0%, #666 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: var(--button-color);
    border-radius: 20px;
    padding: 8px 15px;
    width: 250px;
    height: 40px;
    border: 1px solid var(--line-color);
}

.search-bar input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    padding-left: 5px;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a:nth-child(2) {
    margin-right: 15px;
}

.nav-links a:nth-child(3) {
    margin-right: 10px;
}

.nav-links a:nth-child(4) {
    margin-left: -15px;
}

.nav-link {
    display: flex;
    width: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--grey-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.nav-link svg {
    fill: var(--grey-color);
    transition: fill 0.3s ease;
}

.nav-link:hover svg,
.nav-link.active svg {
    fill: var(--text-color);
}

.nav-link.active,
.nav-link:hover {
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.profile-name {
    font-weight: 500;
    color: #333;
    font-size: 14px;
}

.bx-user-circle {
    margin-top: -5px;
    font-size: 36px;
    color: var(--text-color);
}

.login-btn {
    background-color: var(--primary-color);
    border: 2px solid var(--line-color);
    border-radius: 20px;
    padding: 8px 15px;
    color: var(--text-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
    cursor: pointer;
}

.login-btn:hover {
    transform: translateY(-2px);
    border: 2px solid var(--text-color);
}

/* slider */

.slider {
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1541339907198-e08756dedf3f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    position: relative;
}

.slide-content {
    width: 100%;
    z-index: 1;
    padding: 0 20px;
}

.slider h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}


.slider-btn {
    position: absolute;
    padding: 10px 20px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    color: var(--text-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease;
    z-index: 10;
}

.slider-btn:hover {
    transform: translateY(-5px);
}

/* Section */

.section {
    margin: 40px 150px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.view-more {
    color: var(--grey-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.view-more:hover {
    color: var(--text-color);
}

.cards-container {
    display: flex; /* Susun item horizontal */
    gap: 20px;
    padding: 20px 0;
    overflow-x: auto; /* Aktifkan scroll horizontal */
    overflow-y: hidden; /* Hindari scroll vertikal */
    scroll-behavior: smooth; /* Opsional: scroll halus */
}

.card {
    background: white;
    border-radius: 10px;
    max-width: none;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card-header {
    padding: 15px;
    border-bottom: 1px solid var(--line-color);
}

.card-header img {
    width: 270px;
    border-radius: 10px;
    margin-bottom: 10px;

}

.card-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-subtitle {
    color: var(--grey-color);
    font-size: 14px;
    margin-bottom: 10px;
}

.time-ago {
    color: var(--grey-color);
    font-size: 14px;
    margin-left: 80px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 10px 0;
    padding: 0 15px;
}

.tag {
    background-color: var(--button-color);
    color: var(--text-color);
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 12px;
}

.card-body {
    padding: 15px;
    color: var(--grey-color);
    font-size: 14px;
    line-height: 1.5;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-top: 1px solid var(--line-color);
}

.rating {
    display: flex;
    align-items: center;
}

.slider-controls {
    text-align: center;
    margin-top: 20px;
}

.slide-btn {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    margin: 0 10px;
    transition: all 0.1s ease;
    border: 1px solid var(--primary-color);
}

.slide-btn:hover {
    background-color: var(--button-color);
    border: 1px solid var(--line-color);
}

/* Testimoni */

.testimonials {
    margin: 60px 150px;
}

.testimonial-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    scrollbar-width: thin;
}

.testimonial-card {
    background: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.testimonial-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto 15px;
    overflow: hidden;
    background-color: var(--line-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar i {
    font-size: 40px;
    color: var(--text-color);
}

.user-name {
    font-weight: 600;
    margin-bottom: 5px;
}

.user-title {
    color: var(--grey-color);
    font-size: 14px;
    margin-bottom: 15px;
}

.stars {
    color: #FFD700;
    margin: 10px 0;
}

/* footer */

footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px 150px;
    margin-top: 40px;
    border-top: 1px solid var(--line-color);
}

/* Modal Styling */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--primary-color);
    margin: 5% auto;
    padding: 30px;
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
    position: relative;
}

.modal-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}

.modal-info {
    display: flex;
    gap: 15px;
    margin: 15px 0;
    flex-wrap: wrap;
}

.modal-tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.modal-tag {
    background: #f0f2f5;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.9em;
}

.modal-desc {
    line-height: 1.6;
    margin: 20px 0;
}

.apply-btn {
    background: #007bff;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background 0.3s;
}

.apply-btn:hover {
    background: #0056b3;
}

.close {
    position: absolute;
    right: 25px;
    top: 15px;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #555;
}

/* responsive */

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .navbar {
        flex-wrap: wrap;
    }

    .nav-links {
        order: 2;
        width: 100%;
        margin-top: 5px;
        justify-content: center;
        gap: 40px;
    }

    .nav-link {
        font-size: 12px;
    }

    .login-btn {
        order: 3;
        margin-top: 15px;
        width: 100%;
    }

    .search-bar {
        order: 1;
        width: 100%;
        margin: 15px 0;
    }

    .slider h1 {
        font-size: 24px;
    }

    .section {
        margin: 40px 15px;
    }

    .section-header {
        justify-content: space-around;
    }

    .card {
        width: 330px;
    }

    .testimonials {
        margin: 60px 15px;
    }

    .modal-content {
        width: 90%;
        margin: 10% auto;
        padding: 20px;
    }

    .modal-image {
        height: 180px;
    }

    .apply-btn {
        width: 100%;
    }
}

/* scholarship */

.scholarship-card-container {
    display: flex; /* Ubah dari grid ke flex untuk scroll horizontal */
    gap: 1.5rem;
    padding-bottom: 15px;
    overflow-x: auto; /* Scroll horizontal */
    overflow-y: hidden; /* Hilangkan scroll vertikal */
    height: auto; /* Biarkan tinggi menyesuaikan konten */
    /* background-color: white; */
    border-radius: 15px;
    scroll-behavior: smooth; /* Opsional: animasi halus saat scroll */
}

.scholarship-card{
    display: flex;
    flex-direction: column;
    height: 320px;
    min-width: 800px;
    background-color: #ffffff;
    padding: 1.5rem;
    margin: 5px;
    margin-left: 12px;
    border-radius: 12px;
    transition: all 0.2s ease;
    box-shadow: 0 3px 6px rgba(0,0,0,0.05);
    border: 1px solid #e0e7ff;
    box-sizing: border-box;
}

.scholarship-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    border-color: #c8d3f5;
}

.scholarship-card-header{
    display: flex;
    position: relative; /* Needed for absolute child positioning */
    border-bottom: 1px solid #cecece;
    padding: 2px;
}

.scholarship-card-header h3{
    font-size: 24px;
}

.scholarship-card-header p{
    color: #666;
}

.scholarship-card-header span{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    color: #999;
}

.scholarship-card-tags{
    margin: 5px 0;
    
}

.scholarship-card-tags span{
    background-color: var(--button-color);
    margin: 0 2px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
}

.scholarship-card-body {
    height: 150px;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 10px 2px;
}

.scholarship-card-body h4 {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}

.scholarship-card-body ul {
    list-style: none;
    margin: 0;
    padding-left: 1rem;
}
.scholarship-card-body ul li::before {
    content: "";
    margin-right: 0.5rem;
}


.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* -webkit-line-clamp: 6; */
    -webkit-box-orient: vertical;
}

.read-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: linear-gradient(to right, transparent, white 50%);
    padding-left: 20px;
    color: #666;
    font-weight: bold;
    cursor: pointer;
}

.scholarship-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-top: 1px solid var(--line-color);
}

.scholarship-card-footer i{
    font-size: 25px;
}

.rating {
    display: flex;
    align-items: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-content {
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    max-width: 600px;
    width: 90%;
    max-height: 90%;
    overflow-y: auto;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
}

.apply-btn {
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    float: right;
}

.truncate-text {
    max-height: 5.5rem; /* Adjust as needed */
    overflow: hidden;
    position: relative;
}

.truncate-text::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5rem;
    background: linear-gradient(to top, white, rgba(255,255,255,0));
}

.tag {
    background-color: #eef6ff;
    color: #000000;
    padding: 4px 8px;
    border-radius: 12px;
    margin: 4px 4px 4px 0;
    display: inline-block;
    font-size: 12px;
}

.heart-icon {
    cursor: pointer;
    font-size: 20px;
    color: gray;
    transition: color 0.2s ease;
}

.heart-icon.liked {
    color: red;
}

/* internship */

.internship-card-container{
    display: flex; /* Ubah dari grid ke flex untuk scroll horizontal */
    gap: 1.5rem;
    padding-bottom: 15px;
    overflow-x: auto; /* Scroll horizontal */
    overflow-y: hidden; /* Hilangkan scroll vertikal */
    height: auto; /* Biarkan tinggi menyesuaikan konten */
    /* background-color: white; */
    border-radius: 15px;
    scroll-behavior: smooth; /* Opsional: animasi halus saat scroll */
}

.internship-card-container::-webkit-scrollbar {
    display: none;
}

.internship-card{
    display: flex;
    flex-direction: column;
    height: 320px;
    min-width: 800px;
    background-color: #ffffff;
    padding: 1.5rem;
    margin: 5px;
    margin-left: 12px;
    border-radius: 12px;
    transition: all 0.2s ease;
    box-shadow: 0 3px 6px rgba(0,0,0,0.05);
    border: 1px solid #e0e7ff;
    box-sizing: border-box;
}

.internship-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    border-color: #c8d3f5;
}

.internship-card-header{
    display: flex;
    position: relative; /* Needed for absolute child positioning */
    border-bottom: 1px solid #cecece;
    padding: 2px;
}

.internship-card-header h3{
    font-size: 24px;
}

.internship-card-header p{
    color: #666;
}

.internship-card-header p.internship-salary {
    margin-top: 4px;
    color: #2e7d32;
    font-weight: bold;
}

.internship-card-header span{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    color: #999;
}

.salary {
    font-size: 14px;
    color: #4CAF50; /* Hijau untuk gaji */
    font-weight: 500;
    margin-top: 3px;
}

.job-tag {
    background-color: var(--button-color);
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #333;
    display: inline-block;
    margin-top: 8px;
}

.internship-card-body {
    height: 150px;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 10px 2px;
}

.internship-card-body h4 {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}

.internship-card-body ul {
    list-style: none;
    margin: 0;
    padding-left: 1rem;
}
.internship-card-body ul li::before {
    content: "";
    margin-right: 0.5rem;
}


.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* -webkit-line-clamp: 6; */
    -webkit-box-orient: vertical;
}

.read-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: linear-gradient(to right, transparent, white 50%);
    padding-left: 20px;
    color: #666;
    font-weight: bold;
    cursor: pointer;
}

.internship-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-top: 1px solid var(--line-color);
}

.internship-card-footer i{
    font-size: 25px;
}

.rating {
    display: flex;
    align-items: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-content {
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    max-width: 600px;
    width: 90%;
    max-height: 90%;
    overflow-y: auto;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
}

.apply-btn {
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    float: right;
}

.truncate-text {
    max-height: 5.5rem; /* Adjust as needed */
    overflow: hidden;
    position: relative;
}

.truncate-text::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5rem;
    background: linear-gradient(to top, white, rgba(255,255,255,0));
}

.tag {
    background-color: #eef6ff;
    color: #000000;
    padding: 4px 8px;
    border-radius: 12px;
    margin: 4px 4px 4px 0;
    display: inline-block;
    font-size: 12px;
}

.heart-icon {
    cursor: pointer;
    font-size: 20px;
    color: gray;
    transition: color 0.2s ease;
}

.heart-icon.liked {
    color: red;
}